<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
      <!--詳細ページにタイトル表示!-->
        <%= @prototype.title %> 
        
      </p>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <%= link_to "by #{@prototype.user.name}", user_path(@prototype.user), class: :prototype__user %>
      <!--詳細ページに投稿したユーザー名と、投稿したユーザー情報へのリンク表示!-->
      <% if current_user == @prototype.user%>
      <!--「現在ログイン中user」と「prototypeを投稿したuser」が同じか否かを判定 !--> 
        <div class="prototype__manage">
          <%= link_to "編集する", edit_prototype_path(@prototype), class: :prototype__btn %>
          <%= link_to "削除する", prototype_path(@prototype), method: :delete, class: :prototype__btn %>
    <!--SHOWアクション、DELETEアクション共に、パスがprototype_pathで一緒// HTTPメソッド(Verb)までmethodオプションで指定しないとパス特定できず読み込めない!-->
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @prototype.image %> 
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @prototype.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @prototype.concept %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">

      <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
       <% if user_signed_in? %>
          <%= form_with model: [@prototype, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br /> 
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
      <%# // ログインしているユーザーには上記を表示する %>

        <ul class="comments_lists">
        <%# 投稿に紐づくコメントを一覧する処理を記述する%>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content%> <!--commentテーブルのcontentカラムを表示!-->
              <%= link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %>
              <!--comment.user.name：コメントしたユーザーの名前、コメントしたユーザー詳細情報へパス !-->
            </li>
        <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
