
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.name %>さんの情報 <!--userテーブルのnameカラムを引っ張ってくる202210072320!-->
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td><!--userテーブルのnameカラムを引っ張ってくる202210072320!-->
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td><!--userテーブルのprofileカラムを引っ張ってくる202210072320!-->
          </tr>
          <tr>
            <th class="table__col1">所属</th>
            <td class="table__col2"><%= @user.occupation %></td><!--userテーブルのoccupationラムを引っ張ってくる202210072320!-->
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= @user.position %></td><!--userテーブルのpositionカラムを引っ張ってくる202210072320!-->
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= @user.name %>さんのプロトタイプ<!--userテーブルのnameカラムを引っ張ってくる202210072320!-->
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>

      <%= render partial: 'prototypes/prototype.html.erb', collection: @user.prototypes %>
      <!-- 元コード、このままだと全投稿者のプロトタイプが表示されてしまうので、ユーザー詳細ページのユーザーのプロトタイプだけ表示するよう絞る
       <%# <%= render partial: 'prototypes/prototype.html.erb', collection: @prototypes %> 
      //// 元コード、このままだと全投稿者のプロトタイプが表示されてしまうので、ユーザー詳細ページのユーザーのプロトタイプだけ表示するよう絞る202210111835-->        
       

      </div>
    </div>
  </div>
</div>