<%# データベースに異常発生で、やり直し202210061203 %>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProtoSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>

          <%# ログインしているときは以下を表示するようにしましょう %>
          <% if user_signed_in? %>
          <div class="nav__right">
          <!--ログイン中は、こちらの挨拶文言は重複するので非表示する-->
          <!--<span>こんにちは！ <%= current_user.name %> さん！</span>--> <!-- current_userメソッドで、ログイン中のユーザー名表示202210041440 !-->
         <!--///ログイン中は、こちらの挨拶文言は重複するので非表示する202210111811-->
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %> <!--destroy_user_session_pathはHTTPメソッドがdelete 202210041550!-->
              <%= link_to "New Proto", new_prototype_path, class: :nav__btn %>
<!--          <%= link_to "New Proto", root_path, class: :nav__btn %> ヘッダーの「New Proto」ボタンから、新規投稿ページに遷移 202210050433   !-->
              
            </div>
          <% else %>
          <%# // ログインしているときは上記を表示するようにしましょう %>

          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
<!--      <%= link_to "新規登録", root_path, class: :nav__btn %>   ヘッダーの「新規登録」ボタンに適切なパスを記載 202210040516        !-->
              <%= link_to "新規登録", new_user_registration_path, class: "nav__btn" %> 
<!--      <%= link_to "新規登録", root_path, class: :nav__btn %>   ヘッダーの「新規登録」ボタンに適切なパスを記載 202210040516        !-->
         </div>
        <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>          
     </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  </body>
</html>
